<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>RSM China Consulting Payroll Auto Distribution System</title>
    
    <!-- jquery steps -->
    <!-- 
	<link href="../resources/plugins/jquery.steps-1.1.0/css/normalize.css"
		th:href="@{/resources/plugins/jquery.steps-1.1.0/css/normalize.css}" rel="stylesheet" />
 	-->	
	<link href="../resources/plugins/jquery.steps-1.1.0/css/main.css"
		th:href="@{/resources/plugins/jquery.steps-1.1.0/css/main.css}" rel="stylesheet" />
	<link href="../resources/plugins/jquery.steps-1.1.0/css/jquery.steps.css"
		th:href="@{/resources/plugins/jquery.steps-1.1.0/css/jquery.steps.css}" rel="stylesheet" />	
		
	<!-- Bootstrap core CSS -->
	<link href="../resources/plugins/bootstrap/css/bootstrap.min.css"
		th:href="@{/resources/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<!-- Custom styles for this template -->
	<link href="../resources/plugins/bootstrap/examples/starter-template.css"
		th:href="@{/resources/plugins/bootstrap/examples/starter-template.css}" rel="stylesheet" />		

	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="../resources/plugins/bootstrap/examples/assets/js/ie-emulation-modes-warning.js"
		th:src="@{/resources/plugins/bootstrap/examples/assets/js/ie-emulation-modes-warning.js}"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->	
						    
</head>

<body>
	<div>
        <div id="wizard">
        	<h2>选择模板(choose template)</h2>
        	<section>
        		<legend>模板列表</legend>
				<div class="radio">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="checked" />
				    Sunconc&nbsp;&nbsp;
			        <a href="/salary?downloadFile" 
			        	th:href="@{/salary?downloadFile}" target="_blank">下载模板</a>						                                
				  </label>
				</div>
				<div class="radio disabled">
				  <label>
				    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" disabled="disabled" />
				    next?
				  </label>
				</div>
        	</section>
            <h2>导入Excel(Import Excel)</h2>
            <section>
	            <br/>
	        	<div class="container">
	        	<!-- 
					<form id="uploadFile">
						<input type="file" id="inputFile1" name="file" class="ignore"
							size="1" onchange="change(this.value)" enctype="multipart/form-data"
							style="position: absolute; left: 40px; opacity: 0; z-index: 100; cursor: pointer; width: 86px; height: 36px;" />
						<a class="btn btn-default" style="cursor: pointer;" href="javascript:;" id="upload_file">上传文件</a>
					</form>
				 -->
<!-- 				 
					<form id="uploadFile">
						<a class="btn btn-default" style="cursor: pointer;" href="javascript:;" id="upload_file"><i>上传文件</i>
						<input type="file" id="inputFile1" name="file" class="ignore"
							size="1" enctype="multipart/form-data" onchange="change(this.value)" 
							style="left: 40px; opacity: 0; z-index: 100; cursor: pointer; width: 86px; height: 36px;" />
						</a>
					</form>				 
-->
					<form id="uploadFile">
					    <a href="#" class="btn btn-default"><div id="upload_file">上传文件</div>
					        <div style="filter:alpha(opacity=0);cursor: pointer; opacity: 0; position: absolute;  width: 75px;margin: -18px 0 0 -6px ;margin: -16px 0 0 -6px\9;height:40px;overflow: hidden; ">
					            <input type="file" id="inputFile1" onchange="change(this.value)" name="file" style="font-size: 200px;cursor: pointer;direction: rtl ！important; float: right\9; "/>
					        </div>
					    </a> 
					</form>		 	
					<br /> 
					<a id="importBtn" class="btn btn-default disabled"
						href="javascript:;" onclick="ajaxFileUpload(this)">导入</a> 
					<!-- 
					<a id="importCancel" class="btn btn-default disabled" href="#" onclick="importCancel()">取消</a>
					 -->
				</div>
				<!-- /.container -->
				<br />
				<div id="salarys" style="position:relative;overflow:auto;width:100%;height:70%">
				<table border="1">
				    <thead>
				        <tr>
				        	<th>Serial NO.</th>
				        	<th>Name</th>
				        	<th>Email</th>
				        	<th>Social Benefit Location</th>
				        	<th>Start Date</th>
				        	<th>Basic Salary</th>
				        	<th>Social Benefit Basis</th>
				        	<th>Pension</th>
				        	<th>Medical</th>
				        	<th>Unemployment</th>
				        	<th>Subtotal of Social Benefits</th>
				        	<th>Housing Fund Basis</th>
				        	<th>Housing Fund</th>
				        	<th>Total Amount</th>
				        	<th>Tax Deduction</th>
				        	<th>Taxable Income</th>
				        	<th>Tax Rate</th>
				        	<th>Quick Reckon</th>
				        	<th>IIT</th>
				        	<th>Net Salary Payable</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
							<td>1</td>	        
							<td>Kitty</td>
							<td>kitty@xx.com</td>
							<td>Shanghai</td>					        
							<td>2015-08-27</td>
							<td>2000.00</td>	        
							<td>1111.00</td>
							<td>333.00</td>	        
							<td>2222.00</td>
							<td>444.00</td>	        
							<td>23423.00</td>	
							<td>34234.00</td>	        
							<td>2300.00</td>
							<td>2324.00</td>	
							<td>2343.00</td>
							<td>543.00</td>        
							<td>12%</td>
							<td>5345.00</td>	        
							<td>4322.00</td>
							<td>23423.00</td>	        																																				
				        </tr>	           
				    </tbody>
				</table>	
				</div>
            </section>

            <h2>输入Email信息(Input Email Information)</h2>
            <section>
                <legend>发送邮箱信息</legend> 
            	<div class="row">           	
            		<div class="col-md-6">
		                <form id="emailForm" name="emailForm">
		                	<div class="form-group">
		                        <label for="email">电子邮箱(Email) * </label>
		                        <input type="email" class="form-control" placeholder="Email" id="email" name="email" required="required" />
			               </div>
			               <div class="form-group">         
		                        <label for="password">密码(Password) *</label>
		                        <input type="password" class="form-control" placeholder="Password" id="password" name="password" required="required" />
		                    </div>
		                    <button type="button" name="test" onclick="tectConnect()">测试连接邮件</button>
		                  	<button type="reset" name="test" onclick="resetConnect()">重置</button>
		                  	<img id="loading" src="" />
		                </form>
	                </div>
                </div>
                 <div class="row">
                 	<br/>
                 	<b>
                		<p id="currentEmail">&nbsp;&nbsp;&nbsp;&nbsp;当前邮箱：</p>
                	</b>
                </div>
            </section>

            <h2>发送Email(Send Email)</h2>
            <section>
            	<p id="howmany">共有封邮件需要发送</p>
            	<br />
            	<a id="batchBtn" class="btn btn-default" href="javascript:;" onclick="batchSendEmail()">确认发送</a> 
                <br />
                <br />
                <br />
                <b>
                <p>状态:</p>
                </b>
                <div>
					<p id="status">未发送...</p>
                </div>
            </section>
        </div>
	</div>
	
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="../resources/plugins/jquery/jquery-1.11.2.min.js"
		th:src="@{/resources/plugins/jquery/jquery-1.11.2.min.js}"></script>
	<script src="../resources/js/common.js"
		th:src="@{/resources/js/common.js}"></script>	
	<script src="../resources/plugins/jquery/jquery.cookie-1.3.1.js"
		th:src="@{/resources/plugins/jquery/jquery.cookie-1.3.1.js}"></script>
	<script src="../resources/plugins/modernizr/modernizr-2.6.2.min.js"
		th:src="@{/resources/plugins/modernizr/modernizr-2.6.2.min.js}"></script>		
	<script src="../resources/plugins/jquery.steps-1.1.0/jquery.steps.js"
		th:src="@{/resources/plugins/jquery.steps-1.1.0/jquery.steps.js}"></script>	
	<script type="text/javascript">
	    $("#wizard").steps({
	        headerTag: "h2",
	        bodyTag: "section",
	        transitionEffect: "slideLeft",
	        stepsOrientation: "vertical",
	        labels:{
	        	finish:"完成",
	        	next:"下一步",
	        	previous:"上一步",
	        	loading:"加载中..."
	        },
	        onStepChanging: function (event, currentIndex, newIndex) { 
	        	if(currentIndex==1&&newIndex==2){
	        		if(isUpload==false){
	        			alert("请上传并导入Excel文件！");
	        			return false;
	        		}
	        	}else if(currentIndex==2&&newIndex==3){
	        		if(isConnect==false){
	        			alert("请输入邮箱信息并测试连接邮箱！");
	        			return false;
	        		}else{
	        			var count = $("#count").val();
	        			$("#howmany").text("共有"+count+"封邮件需要发送");
	        		}	
	        	}else if(currentIndex==3&&newIndex==2){
	        		if(isBatchSend){
	        			alert("批量发送邮件已成功，请点击完成初始化页面！");
	        			return false;
	        		}        		
	        	}else if(currentIndex==3&&newIndex==1){
	        		if(isBatchSend){
	        			alert("批量发送邮件已成功，请点击完成初始化页面！");
	        			return false;
	        		}        		
	        	}else if(currentIndex==3&&newIndex==0){
	        		if(isBatchSend){
	        			alert("批量发送邮件已成功，请点击完成初始化页面！");
	        			return false;
	        		}        		
	        	}
	        	
	        	return true; 
	        },
	        onFinished: function (event, currentIndex) {
	        	if(isBatchSend==true)
	        		location.reload();
	        	else
	        		location.reload();
	        }
	    });		
	</script>	
	<script src="../resources/plugins/bootstrap/js/bootstrap.min.js"
		th:src="@{/resources/plugins/bootstrap/js/bootstrap.min.js}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="../resources/plugins/bootstrap/examples/assets/js/ie10-viewport-bug-workaround.js"
		th:src="@{/resources/plugins/bootstrap/examples/assets/js/ie10-viewport-bug-workaround.js}"></script>
	<script src="../resources/plugins/ajaxfileupload/ajaxfileupload.js"
		th:src="@{/resources/plugins/ajaxfileupload/ajaxfileupload.js}"></script>
	<script src="../resources/js/salary.js"
		th:src="@{/resources/js/salary.js}"></script>

</body>
<footer style="text-align: center;">
<p><b>2015 All Rights Reserved by RSM China Consulting</b></p>
</footer>
</html>
